button:hover {
  background-color: #ebebeb00 !important;
}


.btn-success {
  background-color: #007bff !important; /* Match with your nav tab color */
  border-color: #007bff !important; /* Match with your nav tab color */
}

.btn-success:hover {
  background-color: #0056b3 !important; /* Darker shade for hover effect */
}

/* Override the default dropdown background */
.dropdown-menu {
  background-color: #f8f9fa; /* Match with your app background */
}

/* Override the list group item hover color */
.dropdown-item:hover {
  background-color: #ebebeb !important; /* Match with button hover */
}

.card-header {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space between left and right elements */
  align-items: center; /* Center vertically */
  padding: 0 5vw;
}

.nav {
  display: flex; /* Use flex to layout nav items */
  align-items: center;
}

.navleft {
  display: flex;
  gap: 2rem;
  margin-left: 5vw;
}

.navright {
  padding-right: 5vw;
  display: flex; /* Use flexbox to align elements side by side */
  align-items: center; /* Align items vertically */
  gap: 10px; /* Space between the greeting and the dropdown */
}



.user-greeting {
  font-size: 1rem; /* Adjust font size if necessary */
  margin-right: 10px; /* Add some margin on the right side */
}