.modal-backdrop {
  background-color: rgba(
    255,
    255,
    255,
    0
  ) !important; /* Light background color */
  opacity: 1 !important; /* Make it fully opaque */
  z-index: 1000 !important; /* Ensure it stays below modal if needed */
}

.modal-overlay {
  position: fixed; /* Cover entire screen */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(253, 253, 253, 0.5); /* Semi-transparent black */
  display: flex;
  justify-content: center; /* Center modal */
  align-items: center; /* Center modal vertically */
  z-index: 1000; /* Ensure it appears above everything else */
}

.modal-container {
  background-color: rgb(247, 247, 247);
  border-radius: 8px;
  padding: 20px;
  z-index: 1001; /* Ensure the modal is on top of the backdrop */
  position: fixed; /* Make sure modal stays in place */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the modal */
  width: 100%;
  max-width: 22vw;
  max-height: 60vw;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-size: 0.8vw;
}

.form-control::placeholder {
  font-size: 0.7vw; /* Adjust the font size as needed */
}

.form-control {
  padding-top: 0.2vw !important;
  padding-bottom: 0.2vw !important;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}

.modal-close:hover {
  color: #af3838;
  cursor: pointer;
  box-shadow: none !important;
}

.modal-content {
  margin-top: 20px;
}

.mb3 {
  margin-bottom: 15px; /* Space between input fields */
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column; /* Column layout for the form */
}

input {
  margin-bottom: 15px; /* Space between the form elements */
  padding: 10px; /* Padding inside the input fields */
  font-size: 16px;
}

.RegButton {
  padding: 0.6vw;
  font-size: 0.9vw;
  font-weight: 500;
  background-color: #4f84e7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1vw;
}

.ResDelButton {
  padding: 0.6vw;
  font-size: 0.9vw;
  font-weight: 500;
  background-color: rgba(179, 61, 15, 0.856);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0.5vw;
  width: 100%;
}

.RegButton:hover {
  background-color: #3963b3 !important;
  box-shadow: none !important;
}

.ResDelButton:hover {
  background-color: rgba(128, 42, 9, 0.7) !important;
  box-shadow: none !important;
}

.regcontainer h2 {
  margin-bottom: 1vw;
  font-size: 1.5vw;
}

.info-icon {
  margin-left: 0.5rem;
  cursor: pointer;
  position: relative;
  color: #4f84e7;
  font-size: 0.8vw;
}

.info-icon::before {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.836);
  color: white;
  padding: 0.5rem;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  font-size: 0.8rem;
  width: max-content;
  max-width: 200px; /* Adjust max-width as needed */
  text-align: center;
  word-wrap: break-word; /* Ensure text wraps to the next line */
  white-space: normal;
}

.info-icon:hover::before {
  opacity: 1;
}

/* Responsive styles */
@media (max-width: 768px) {
  .regcontainer {
    padding: 15px; /* Reduce padding inside the container */
  }

  input {
    padding: 8px;
    font-size: 14px; /* Slightly smaller font size */
  }

  .RegButton {
    padding: 8px;
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  .regcontainer {
    max-width: 100%; /* Full width on extra small screens */
  }
}
